.grid-container{
    gap: 1rem;
}
/*grid principal*/
.container {
    box-shadow: 5px 10px 8px var(--darkPurple-color);
    border-radius: 0.5rem;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "details"
    "form";
}

/*resetear valores por defecto dentro del grid principal*/
.container p,
.container h2{
    margin: 0;
    padding: 0;
}

.contact-details {
    background-color: var(--mediumPurple-color);
    border-radius: inherit;
    padding: 1.2rem;
    color: var( --cream-color);
    word-break: break-word;

    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:  0.5fr, 0.5fr, 3fr, 0.5fr, 0.5fr, 0.5fr;
    grid-template-areas: 
    "title title"
    "adIcon adText"
    "map map"
    "eIcon eText"
    "pIcon pText"
    "hIcon hText";
    gap: 1rem;
}

/*grid areas for details*/
.details-title{
    grid-area: title;
    width: max-content; 
    justify-self: center;
    align-self: center;

    text-transform: uppercase;
    color: var(--gold-color);
}
.details-adress-icon{
    grid-area: adIcon;
    justify-self: center;
    align-self: center;
}
.details-adress-text{
    grid-area: adText;
    align-self: center;
}
.details-map{
    grid-area: map;
    width: 90%;
    height: 100%;
    overflow: hidden;
    justify-self: center;
}
.details-map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: #b78838;
    border-radius: 0.5rem;
}
.details-email-icon{
    grid-area: eIcon;
    justify-self: center;
    align-self: center;
}
.details-email-text{
    grid-area: eText;
    align-self: center;
}
.details-phone-icon{
    grid-area: pIcon;
    justify-self: center;
    align-self: center;
}
.details-phone-text{
    grid-area: pText;
    align-self: center;
}
.details-hour-icon{
    grid-area: hIcon;
    justify-self: center;
    align-self: center;
}
.details-hour-text{
    grid-area: hText;
    align-self: center;
}

.contact-details p{
    font-size: 0.9rem;
}
.contact-details i{
    font-size: 1.5rem;
    color: var(--gold-color);
}


.contact-form {
    border-radius: inherit;
    color: var(--darkPurple-color);
    padding: 1.5rem;

    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.1fr;
}

.form-title{
    width: max-content; 
    justify-self: center;
}

.form-group {
    display: grid;
    gap: 0.2rem;
    border-radius: inherit;
}

.contact-form input,
.contact-form textarea {
    border-radius: inherit;
    border: none;
    height: 1.8rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--cream-color);
    font-family: inherit;
}

::placeholder {
    color: var(--mediumPurple-color);
}

.contact-form textarea {
    height: auto;
    resize: vertical;
}

.form-submit {
    border-radius: inherit;
    border: none;
    width: 100%;
    height: 3rem;
    background-color: var(--gold-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


/* responsive */

/* desktop */
@media (min-width: 1400px) {
  html {
    font-size: 25px;
  }
  .container {
    margin: auto;
    grid-template-columns:3fr 7fr;
    grid-template-areas:
    "details form";
}
}

/* tablet */ 
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

