/*variables a cambiar según la guía de estilo*/
:root{
    --purple: rgb(150, 89, 201);
    --dark-purple: rgb(111, 65, 150);
    --light-purple: rgb(233, 205, 255);
}
html{
    font-size: 16px;
    font-family: "Poppins";
}
/*grid principal*/
.content {
    box-shadow: 5px 10px 8px var(--dark-purple);
    border-radius: 0.5rem;
    margin: 0 auto;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "details"
    "form";
}
.contact-details {
    grid-area: details;
}
.contact-form {
    grid-area: form;
}

/*resetear valores por defecto dentro del grid principal*/
.content p,
.content h2{
    margin: 0;
    padding: 0;
}

/*grid item del grid principal*/
.contact-details{
    background-color: var(--purple);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem; 
}

/*grid dentro del grid item*/
.grid-details{
    width: 100%;
    height:100%;

    display: grid;
    grid-template-columns: 0.10fr 0.90fr;
    grid-template-rows: 0.20fr, 0.10fr, 0.30fr, 0.10fr, 0.10fr;
    grid-template-areas: 
    "title title"
    "adIcon adText"
    "map map"
    "eIcon eText"
    "pIcon pText"
    "hIcon hText";
    gap: 1.5rem;
}
/*grid areas*/
.details-title{
    display: grid;
    grid-area: title;
}
.details-adress-icon{
    display: grid;
    grid-area: adIcon;
}
.details-adress-text{
    display: grid;
    grid-area: adText;
}
.details-map{
    display: grid;
    grid-area: map;
}
.details-email-icon{
    display: grid;
    grid-area: eIcon;
}
.details-email-text{
    display: grid;
    grid-area: eText;
}
.details-phone-icon{
    display: grid;
    grid-area: pIcon;
}
.details-phone-text{
    display: grid;
    grid-area: pText;
}
.details-hour-icon{
    display: grid;
    grid-area: hIcon;
}
.details-hour-text{
    display: grid;
    grid-area: hText;
}

.details-map iframe{
    max-width: 100%;
}

.details-title, .form-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.contact-form {
    border-radius: 0.5rem;
    padding: 1.5rem;
    color: var(--dark-purple);
}

.grid-form{
    display: grid;
    gap: 1.3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.20fr 0.10fr 0.10fr 0.10fr 0.20fr 0.10fr;
    
}

.form-group {
    display: grid;
    gap: 0.2rem;
}

.form-group label{
    font-weight: 550;
}

.grid-form input,
.grid-form textarea {
    border-radius: 0.5rem;
    border: none;
    height: 1.8rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--light-purple);
    font-family: inherit;
}

::placeholder {
    color: var(--dark-purple);
}

.grid-form textarea {
    height: auto;
    resize: vertical;
}

.form-submit {
    width: 100%;
    height: 3rem;
    background-color: var(--purple);
    border-radius: 0.5rem;
    border: 1px solid var(--dark-purple);
    color: white;
    cursor: pointer;
}

.form-submit:hover {
    background-color: lightgreen;
}

/*en google chome no me funciona pero mozilla sí*/
@media screen and (min-width: 600px) { 

    
    .content {
        grid-template-columns: 0.25fr 0.75fr;
        grid-template-areas:
        "details form";
    }
}