:root{
  --white-color: white;
  --mediumPurple-color:#5a4c59;
}

/* imagen body */
.card{
    width: 100%;
    height: 100%;
    position: relative;
    grid-area: item;
  }
.card img{
    
    height: 100%;
    width: 100%;
    object-fit: cover ;
  }

  
  .container{
    display: grid;
    width: 100%;
   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr;
    grid-template-areas:
    "item"
    "shop";
    
}

.shop {
  grid-area: shop;
  width: 100%;
  text-align: center;
}

.shop-text {
  font-size: 30px;
  font-weight: bold;
  color: var(--mediumPurple-color);
}

.shop-pic {
  width: 80%;
  margin: auto;
  object-fit: cover;
}

.shop-pic {
  width: 100%;
}
.responsive-item {
  width: 80%;
}

.aside {
  display: none;
}
  /* imagen body close*/
.button button{
    background-color: #b78838;
    border: none;
      color: white;
      border-radius: 5px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      visibility: visible;
      
      position: absolute;
      opacity: 0.8;
      top: 55%;
      left: 50%;
      transform:translate(-50%,-50%);
      
      
      
  }

@media (min-width:800px){

  .container{
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas:
    "item item"
    "shop aside";
  }

  .aside {
    display: contents;
    width: 90%;
    margin-right: 40px;
    
  }

  .aside img {
    object-fit: cover;
    width: 90%;
    margin-bottom: 100px;
  }
  .card img{
    height: 900px;
    width: 100%;
    object-fit: cover ;
  }
}