/* Begin tables styles */
table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center; 
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
  } 
  
  .title-section{
    color: #e7dfdb;
    background-color: #5a4c59;
    font-size: 40px;
    margin: 40px;
  }
  
  thead{
    font-size: 20px;
    font-weight: bold;
  }
  
  td {
    padding: 10px 15px;
    position: relative;
    transition: all 600ms;
  }
  
  
  tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
  }
  
  tbody:hover tr:hover td {
    color: #e7dfdb;
    text-shadow: 0 1px 0 rgb(95, 95, 95);
    background-color: #5a4c59;
  }
  
  
  .title-section tbody:hover tr:hover td {
    color: #b78838;
    text-shadow: 0 1px 0 rgb(95, 95, 95);
    background-color: #5a4c59;
  }
  
  /* End table styles */


/* Begin grid services */
.conteiner{
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr 1fr;
    grid-template-areas:
    "title title title"
    "table1 table2 table3"
    "table4 table5 table6"
    "title2 title2 title2"
    "table7 table8 table9"
    ;
}

.title-section1{
    grid-area: title;


}
.table1{
    grid-area: table1;
}

.table2{
    grid-area: table2;
}

.table3{
    grid-area: table3;
}

.table4{
    grid-area: table4;
}

.table5{
    grid-area: table5;
}

.title-section2{
    grid-area: title2;
}

.table7{
    grid-area: table7;
}

.table8{
    grid-area: table8;
}

.table9{
    grid-area: table9;
}


/* @media para las cajas (max-width : 1200px)  */
@media (max-width:1200px){
    .conteiner{
        display: grid;
        grid-area: content;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr 1fr 1fr;
        grid-template-areas:
        "title title"
        "table1 table2"
        "table3 table4" 
        "table5 table6"
        "title2 title2"
        "table7 table8" 
        "table9 table10"
        ;
        margin:auto ;
        gap: 20px;
    } 
    table {
        width: 390px;
    } 
}
  /* @media para las cajas (max-width : 800px)  */
  @media (max-width:800px) {
    .conteiner{
        display: grid;
        grid-area: content;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr 1fr 1fr;
        grid-template-areas:
        "title"
        "table1" 
        "table2"
        "table3"
        "table4" 
        "table5"
        "title2"
        "table7" 
        "table8" 
        "table9"
        ;
    }
    table {
        width: 400px;
    } 
    }



/* End grid services */






