

/* definicion de colores */
:root{
  --white-color: white;
  --black-color: #000000;
  --darkPurple-color: #41415b;
  --mediumPurple-color:#5a4c59;
  --medium-color:#8b7e75;
  --cream-color:#e7dfdb;
  --gold-color:#b78838;
  --fontFamily: 'Poppins';

}
/* definicion de colores close*/



html, body {
    margin: 0;
    height: 100%;
    font-family: var(--fontFamily);
    font-size: 16px;
    
  }



.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    height: 100vh;
    grid-template-areas: 
    "header   header  header  header" 
    "content   content  content  content" 
    "footer   footer  footer  footer";
  
    
}
.container{
  grid-area: content;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo logo  hamburger";
    grid-area: header;
    background-color:var(--darkPurple-color);
    
}



/* Logo */
.logo img{
    margin-top: 0.8%;
    width: 100px;
    height: auto;
    margin-left: 10px;
}
.logo{
    object-fit: cover;
    grid-area: logo;
    background-color: var(--darkPurple-color);
}
/* Logo close */


/* Funtion hamburger */
.hamburguer{
  margin-top: 12%;
  margin-left: 40%;
  color: var(--white-color);
  
  
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:var(--black-color);
  background-color: var(--cream-color);
  overflow-x: hidden;
  transition: 0.5s;
  grid-area: hamburger;
  
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--mediumPurple-color)
  ;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: var(--mediumPurple-color)
}

.overlay .closebtn {

  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* Close hamburguer*/

.nav{
  grid-area: nav;
  visibility: hidden;
  display: none;
  
}



/* button menu*/
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--gold-color);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--cream-color);
  box-shadow: 2px 2px 6px var(--black-color);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* close funtion hamburger */
/* Begin footer */
footer{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: footer;
  background-color: var(--darkPurple-color);
  grid-template-areas:
  "tlf"
  "copyright"
  "social-media";
  padding: 2%;
  color:  var(--white-color);
}


.tlf{
  grid-area: tlf;
  font-size: 25px;
  text-align: center;
}

.social-media {
  grid-area: social-media;
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.social-media a {
  margin-left: 10px;
  margin-right: 10px;  
}

.copyright{
  grid-area: copyright;
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
  
}

svg {
  fill: var(--gold-color);
  width: 30px;
}

.fb {
  width: 25px;
}

@media (min-width:800px){
  .nav{
    visibility: visible;
    display: contents;
    
	  
  }
  
  .logo img{
    width: 125px;
    margin-left: 15px;
  }

  .nav a {
    margin-top: 12%;
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    cursor: pointer;
  }
  
  
  
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
    a:hover {
    width: 125px;
    height: 50px;
    left: 0;
    color: #000;
    background-color: var(--mediumPurple-color);
  }
  header{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo nav nav nav nav nav";
    
  }
  /* hamburguesa*/
  .hamburguer{
    visibility: hidden;
    display: none;
  }

  footer{
    grid-area: footer;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "copyright tlf social-media";
  }
  
  .copyright,
  .tlf,
  .social-media {
    margin-top: 30px;
  }
}
