html, body {
    margin: 0;
    height: 100%;
  }



.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 1fr 0.2fr;

    grid-template-areas: 
    "header   header  header  header" 
    "primary   primary  primary  primary" 
    "footer   footer  footer  footer";
    height: 100vh;
    
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo logo  hamburger";
    grid-area: header;
    background-color: #41415b;
    
}
.container-primary{
    display: grid;
    grid-area: primary;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    grid-auto-flow: dense;
    
}
.item .card{
  width: 100%;
  height: 100%;
  position: relative;
}
.item .card img{
  
  height: 100%;
  max-width: 400px;
  object-fit: cover ;
}
footer{
    grid-area: footer;
    background-color: brown;
}


.logo img{
    margin-top: 0.8%;
    width: 125px;
    height: auto;
    margin-left: 10px;
}
.logo{
    object-fit: cover;
    grid-area: logo;
    background-color: #41415b;
}


:root{
  --white-color: white;
}


/* Funtion hamburger */
.button{
  margin-top: 11%;
  margin-left: 40%;
  color: var(--white-color);
  
  
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: #e7dfdb;
  overflow-x: hidden;
  transition: 0.5s;
  grid-area: hamburger;
  
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #5a4c59
  ;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #5a4c59;
}

.overlay .closebtn {

  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

/* Close hamburguer*/


  /*carrusel*/

  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    
}
.slide-inner {
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 98%;
    height: calc( 383px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(245, 16, 16, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/*End carrusel*/


/* button menu*/
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #b78838;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #e7dfdb;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* close funtion hamburger */
